.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 5vh;
    margin-top: 0.5%;
    margin-bottom: 2%;

    .logo {
        height: 100%;
        width: 33%;
        display: flex;
        justify-content: flex-start;
        align-items: center;


        .logo_name {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 3%;
            margin-left: 3%;
            width: 100%;

            img {
                height: 6vh;
                width: 3vw;
            }


            .name-motive {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: fit-content;
                word-wrap: normal;
                margin-left: 3%;

                .name {
                    font-weight: bold;
                    font-size: 1.2vw;
                    color: rgb(26, 240, 161);

                }

                .motive {
                    font-size: 0.6vw;
                    color: rgb(26, 240, 161);
                }
            }
        }
    }

    .both {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
        height: 5vh;


        .user-info {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: inherit;


            .user-pfp {
                height: 110%;
                margin-right: 2.5%;
                padding: 0.5%;
                border-radius: 100%;
                -webkit-box-shadow: 0 0 25px rgb(26, 240, 161);
                box-shadow: 0 0 25px rgb(26, 240, 161);
            }

            .text {
                font-size: 1.3vw;
                color: #FFD700;
            }

        }

        .room-buttons {
            display: flex;
            width: fit-content;
            justify-content: flex-end;
            align-items: center;
            margin-left: 5%;

            .retry-button {
                width: auto;
                border: none;
                background: transparent;
                color: #0A82FD;
                padding: 0% 2% 0% 2%;
                // margin-right: 20%;
            }

            .leave-button {
                border: none;
                padding: 5% !important;
                border-radius: 100%;
                color: white;
                padding: 0% 2% 0% 2%;
                background: red;

            }


        }
    }



    .connection-status {
        width: 33%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .status {
            margin-right: 10%;
            width: fit-content;
            padding: 2%;
            color: white;

        }
    }
}