$neon : rgb(26, 240, 161);

.Toastify__progress-bar {
    background: $neon !important;
    /* Change this color to your desired color */
}

.main {
    height: 100vh;
    width: 100vw;

    .flex-room-box {
        margin-top: 5%;

        .create-room-box {
            margin: auto;
            padding: 2%;
            height: fit-content;
            border: 2px solid $neon;
            -webkit-box-shadow: 0 0 25px $neon;
            box-shadow: 0 0 25px $neon;
            color: white;
            border-radius: 25px;
            width: 50%;
            background-color: rgb(0, 0, 0) !important;

            .content {
                display: flex;
                flex-direction: column;

                .custom-room {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    // padding: 2%;
                    .custom-room-title {
                        font-size: 2vw;
                        text-transform: capitalize;

                    }

                    .custom-room-description {
                        margin-left: 3%;
                        margin-right: 3%;

                        .custom-room-description-text {
                            font-size: 1.2vw;
                        }
                    }

                    .custom-room-input {
                        border: 1px solid rgb(77, 76, 76);
                        background-color: rgb(30, 29, 29);
                        border-radius: 5px;
                        width: 50%;
                        padding: 0.5%;
                        color: white;
                        font-size: 1.2vw;

                        &::placeholder {
                            color: white;
                            opacity: 0.8;

                        }

                        &::-ms-input-placeholder {
                            /* Microsoft Edge */
                            color: rgb(255, 255, 255);
                            opacity: 0.8;
                        }
                    }

                    .custom-room-join {
                        display: inline-block;
                        margin-top: 2%;
                        padding: 0.5%;
                        width: 50%;
                        text-align: center;
                        font-size: 1.5vw;
                        background-color: $neon; // Blue color, you can customize this
                        color: black;
                        font-family: sans-serif;
                        text-decoration: none;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;
                        transition: background-color 0.3s ease, transform 0.3s ease;

                        &:hover {
                            -webkit-box-shadow: 0 0 15px $neon;
                            box-shadow: 0 0 15px $neon;
                        }
                    }
                }

                .instant-room {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    // padding: 2%;
                    .instant-room-title {
                        font-size: 2vw;
                        text-transform: capitalize;

                    }

                    .instant-room-description {
                        // padding-left:12% ;
                        // padding-right: 5%;
                        margin-left: 3%;
                        margin-right: 3%;

                        // width: max-content;
                        .instant-room-description-text {
                            font-size: 1.2vw;

                        }
                    }

                    .instant-room-join {
                        display: inline-block;
                        margin-top: 2%;
                        padding: 0.5%;
                        width: 50%;
                        text-align: center;
                        font-size: 1.5vw;
                        background-color: $neon; // Blue color, you can customize this
                        color: black;
                        font-family: sans-serif;
                        text-decoration: none;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;
                        transition: background-color 0.3s ease, transform 0.3s ease;

                        &:hover {
                            -webkit-box-shadow: 0 0 15px $neon;
                            box-shadow: 0 0 15px $neon;
                        }
                    }

                }

            }
        }
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


@media only screen and (max-width: 820px) {
    .flex-room-box {
        padding: 5% !important;
        height: 70% !important;

        .create-room-box {
            height: 100% !important;
            width: 100% !important;

            .content {
                height: 100% !important;

                .instant-room {
                    .instant-room-title {
                        font-size: 8vw !important;
                    }

                    .instant-room-description {
                        padding: 5% 0% 2% 5% !important;
                        text-align: start !important;
                    }

                    .instant-room-description-text {
                        font-size: 4.5vw !important;
                    }

                    .instant-room-join {
                        font-size: 4vw !important;
                        padding: 2% !important;
                    }
                }

                .custom-room {
                    height: 100% !important;

                    .custom-room-title {
                        font-size: 8vw !important;
                    }

                    .custom-room-description {
                        padding: 5% 0% 2% 5% !important;
                        text-align: start !important;
                    }

                    .custom-room-description-text {
                        font-size: 4.5vw !important;
                    }

                    .custom-room-join,
                    .custom-room-input {
                        font-size: 4vw !important;
                        padding: 2% !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-height: 768px) {
    .flex-room-box {
        height: 80% !important;
    }
}