.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 5vh;
    margin-top: 0.5%;
    margin-bottom: 2%;

    .logo {
        height: 100%;
        width: 33%;
        display: flex;
        justify-content: flex-start;
        align-items: center;


        .logo_name {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 3%;
            margin-left: 3%;
            width: 100%;

            .img {
                height: 6vh;
                width: 3vw;
            }


            .name-motive {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: fit-content;
                word-wrap: normal;
                margin-left: 3%;

                .name {
                    font-weight: bold;
                    font-size: 1.2vw;
                    color: rgb(26, 240, 161);

                }

                .motive {
                    font-size: 0.6vw;
                    color: rgb(26, 240, 161);
                }
            }
        }
    }

    .both {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
        height: 5vh;


        .user-info {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: inherit;


            .user-pfp {
                height: 110%;
                margin-right: 2.5%;
                padding: 0.5%;
                border-radius: 100%;
                -webkit-box-shadow: 0 0 25px rgb(26, 240, 161);
                box-shadow: 0 0 25px rgb(26, 240, 161);
            }

            .text {
                font-size: 1.3vw;
                font-weight: bolder;
                color: #FFD700;
            }

        }

        .room-buttons {

            margin-left: 5%;

            .leave-button {
                // width: fit-content;
                border: none;
                padding: 5% !important;
                border-radius: 100%;
                color: white;
                background: red;

            }

        }
    }



    .connection-status {
        width: 33%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .status {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10%;

            #status {
                margin-left: 10px;
            }

            width: fit-content;
            padding: 2%;
            color: white;

        }
    }
}


@media only screen and (max-width: 800px) {
    #navbarForId{
        display:none;
    }
    .bottom-nav-bar {
        width: 100%;
        background-color: #1a1a1a;
        display: flex;
        border-top: 1px solid #333333 !important;
        // justify-content: space-evenly;
        // align-items: center;
        height: 10vh !important;




        // width: 100%;
        //    justify-items: center;
        .nav-buttons {
            border: none;
            background: none;
            flex: 1;
            // margin-bottom: 2%;
            padding: 0% 10% 0% 10% !important;
            // color: #0A82FD;
            color: white;



            &:hover {
                // color: rgb(26, 240, 161) !important;
                color: #0A82FD !important;
            }
        }

        .active {
            color: #0A82FD;
        }


    }

    .navbar {
        height: 10vh;
    }

    .name {
        font-size: 3vw !important;
        margin-left: 10% !important;
    }

    .logo {
        width: 25% !important;
    }

    .motive {
        display: none;
    }

    .both {
        width: 55% !important;
    }

    .connection-status {
        width: 20% !important;
    }

    .text {
        font-size: 2vw !important;
    }

    .user-pfp {
        height: 100% !important;
        box-shadow: none !important;
        -webkit-box-shadow: none;
    }

    .room-buttons {
        margin-left: 5% !important;
    }

    .status {
        font-size: 10vw !important;
    }

    #svg {
        width: 30% !important;
    }

    #status {
        font-size: 3vw !important;
        margin-left: 5px !important;
    }

}