$dark-grey:#121212;
$border-style:1px solid white;
$neon-col:#1af0a1;
$chat-blue:#0A82FD;
$chat-grey:#333333;
$dark-black:#1a1a1a;
$weak-grey:#5a5a5a;
$neon-col:rgb(26, 240, 161);
$chat-blue:#0A82FD;
$chat-grey:#333333;
$dark-black:#1a1a1a;
.daddy{
    resize:horizontal;
    background-color: transparent;
    overflow: hidden;
    border:$border-style;
    border-radius: 15px;
    height:80vh;
    width:30%;
    float:left;
    .navBarChat{
        background-color:$dark-grey;
        flex-direction: row;
        border-bottom: $border-style;
        height:10%;
        display:flex;
        align-items:center;
        justify-content: space-around;
        .NameImageNav{
            height:100%;
            width:75%;
            display:flex;
            justify-content: flex-start;
            align-items: center;
            .navImage{
                height:80%;
                margin-right: 5%;
                border-radius: 100%;
            }
        }
        #user-name{
            color:white;
            font-size: 1.2vw;
            margin-left: 1.5%;
            margin-right:-1%;
        }
        .video-button{
            display:flex;
            justify-content: center;
            align-items: center;
            .videoBtn{
                background: transparent;
                border:none;
                .videoCallIcon{
                    transform: scale(1.4);
                    width:100%;
                    color:$neon-col;
                }
            }
            .deleteChatBtn{
                background: transparent;
                border:none;
                .deleteIcon{
                    transform: scale(1.2);
                    width:100%;
                    color:$neon-col;
    
                }
            }
        }
    }
    .chatBox{
        overflow:scroll;
        overflow-x: hidden;
        position: relative;
        .peer1Orientation{
            display:flex;
            justify-content: flex-end;
        }
        .peer2Orientation{
            display:flex;
            justify-content: flex-start;
        }
        .emptyChat{
            height:100%;
            width:100%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:10%;
            .roboAnimation{
                height:50%;
            }
            .textBelowRobo{
                height:100%;
                width:100%;
                display:flex;
                align-items: center;
                flex-direction: column;
                #empty{
                    font-size: 1.5vw;
                    color:white !important;
                }
                #start{
                    font-size: 1vw;
                    color:white;
                }
            }
        }
        .chatDiv{
            display:flex;
            max-width: 70%;
            max-height: fit-content;
            color:white;
            padding:1.5%;
            margin:0.5%;
            border-radius: 15px;
            flex-direction: column;
            .replyOuter{
                background-color: lightblue;
                max-width: 100%;
                color:black;
                border-radius: 15px;
                padding:1% 0% 1% 6%;
                .reply{
                    color:$weak-grey;
                    color:white;
                }
            }
            .bottomMessage{
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                .shareTime{
                    display:flex;
                    flex-direction: column;
                    .replyBtn{
                        justify-self: flex-end;
                        font-size: 1vw;
                        align-self: flex-end;
                        cursor:pointer;
                        background: transparent;
                        color:wheat;
                        border:none;
                        display:flex;
                        justify-content: flex-end;
                        .replyMob{
                            font-size:1.3vw;
                        }
                    }
                    #time{
                        color:wheat;
                        font-size: 0.6vw;
                        justify-self: flex-end;
                        align-self: flex-end;
                    }   
                }
            }
        }
        .chatDiv1{
            background-color: $chat-blue;
        }
        .chatDiv2{
            background-color: $chat-grey;
        }
    }
    .replyDiv{
        background-color: $chat-grey;
        justify-content: space-between;
        align-items: center;
        .Name{
            color:white;
            margin-left: 4%;
        }
        .msgOuter{
            color:white;
            margin-left: 3%;
            background-color: $dark-black;
            padding:0.7%;
            border-radius: 15px;
            .msgInner{
                padding:2%;
            }
        }
        .cross{
            color:white;
            background: transparent;
            border:none;
        }
    }
    .navbarBottom{
        background-color: $dark-black;
        width:100%;
        height:10%;
        .footer{
            display: flex;
            align-items: center;
            justify-content: center;
            width:100%;
            height:100%;
            #input-field{
                height:50%;
                font-size: 1.2vw;
                color:white;
                width:70%;
                background-color: $chat-grey;
                border:none;
                border-radius: 5px;
            }
            .commonBottom{
                padding:2%;
                background: transparent;
                border:none;
                border-radius: 5px;
            }
            #sendBtn{
                margin-left: 4%;
            }
            .copyBtn{
                margin-right: 4%;
            }
            .commonIcon{
                transform: scale(1.3);
                width:100%;
                color:$neon-col;
            }
        }
    }
}
/* Hide scrollbar for IE, Edge and Firefox */
.chatBox {
    // -ms-overflow-style: none !important;
    // /* IE and Edge */
    // scrollbar-width: none;
    &::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 5px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgb(26, 240, 161);
        border-radius: 5px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(26, 240, 161);
    }
    /* Firefox */
}
/* width */
@media only screen and (max-width: 800px) {
    .daddy {
        width: 100% !important;
        border: none !important;
        height: 86.8vh !important;
        padding: 0% !important;
        border-radius: 0px !important;
    }
    #user-name {
        font-size: large !important;
    }
    #empty {
        font-size: larger !important;
        margin-left: 2% !important;
    }
    #start {
        font-size: small !important;
    }
    #msg {
        font-size: medium !important;
    }
    #time {
        font-size: xx-small !important;
    }
    .replyMob {
        font-size: 3.3vw !important;
    }
}
