.link {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;

    // padding: 10%;
    &:hover {
        color: #1AF1A0 !important;
        border-bottom: 1px solid #1AF1A0;
    }
}

.landing {
    background-image: url('../../assets/background_grainy.jpg');
    background-size: cover;
    background-repeat: repeat;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}



.join {
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;

    cursor: pointer;
    border-radius: 26px;

    &:hover {
        color: black;
    }
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 5vh;
    margin-top: 0.5%;
    margin-bottom: 2%;
    // position: fixed;

    .logo {
        height: 100%;
        width: 33%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .logo_name {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 3%;
            margin-left: 3%;
            width: 100%;

            .img {
                height: 6vh;
                width: 3vw;
            }


            .name-motive {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: fit-content;
                word-wrap: normal;
                margin-left: 3%;

                .name {
                    font-weight: bold;
                    font-size: 1.2vw;
                    color: white;

                }

                .motive {
                    font-size: 0.6vw;
                    color: white;
                }
            }
        }
    }

    .empty {
        width: 33%;
    }

    .navigation {
        width: 33%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: white;
    }
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    .content {
        display: block;

        p {
            font-size: 1.1vw;
        }
    }

    .features {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .feature-left,
        .feature-right,
        .feature-middle {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // flex: 1;
        }
    }
}

.details {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        font-size: 3vw;
    }
}

.how-it-works {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        text-align: start;
        font-size: 1vw;
    }
}


.scroll {
    display: flex;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.right {
    margin-left: 15%;

}

svg {
    height: 70%;
}


.ConnectionLine {
    animation-name: connectionLineAnimation;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
}

.ConnectionStatus {
    animation-name: flashAnimation, connectLightAnimation;
    animation-duration: 0.3s, 1s;
    animation-delay: 1.5s, 3.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes connectionLineAnimation {
    from {
        stroke-dashoffset: 2000;
    }

    to {
        stroke-dashoffset: 0;
    }
}


@keyframes flashAnimation {
    from {
        fill: #ffd778;
        opacity: 0;
    }

    to {
        fill: #ffd778;
    }
}

@keyframes connectLightAnimation {
    from {
        opacity: 0;
    }

    to {
        fill: #09e800;
    }
}



.LineGraph,
.BarGraph {
    animation-name: graphAnimation;
    animation-duration: 5s;
    animation-delay: 3.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes graphAnimation {
    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}


.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}


@media (-webkit-device-pixel-ratio: 1.33) {
    .zoomer {
        zoom: 0.9;
    }

    .scroll {
        margin-top: 0% !important;
    }
}

@media only screen and (max-width: 991px) {
    #navbarNav {
        background-color: #121212 !important;
    }

    .navbar {
        margin-top: 2% !important;
    }

    .row {
        flex-direction: column !important;
    }

    .right {
        width: 90% !important;
        margin-left: 5% !important;
    }

    .ms-3 {
        margin-left: 0% !important;
    }

    .me-3 {
        margin-right: 0% !important;
    }

    .btn2 {
        width: 50% !important;
    }

    li {
        font-size: 2.2vw !important;
    }

    #footer-svg {
        width: 10% !important;
    }

    .join {
        margin-left: 0% !important;
    }

    .collapse {
        margin-right: 0% !important;
    }
}