.video {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 0% 2% 0% 0%;
    transition: all 3s ease-in-out;
    height: 80vh;

    .first,
    .second {
        width: 100%;
        height: 45%;
        border: 1px solid white;
        border-radius: 5%;
        background: transparent;
        margin-bottom: 2%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: none;
            border: 2px solid rgb(26, 240, 161);
            border-radius: 100%;
            height: 40%;
            padding: 2%;
            -webkit-box-shadow: 0 0 25px rgb(26, 240, 161);
            box-shadow: 0 0 25px rgb(26, 240, 161);
        }
    }

    #localVideo,
    #remoteVideo {
        width: 100%;
        // height: auto;
        height: 98%;
        display: block;
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .footer {
        height: 10%;
        width: 80%;
        border: 1px solid white;
        border-radius: 10px;
        overflow: hidden;
        margin: auto;

        .accept-reject {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            width: 100%;
            background-color: #1a1a1a;
            padding: 2%;

            .video-call-accept {
                background-color: green;
                border: none;
                border-radius: 100%;

                .accept-call {
                    color: white;
                    font-size: 4.5vh;
                }
            }

            .end-call-button {
                background-color: red;
                border: none;
                border-radius: 100%;

                .end-call {
                    color: white;
                    font-size: 4.5vh;
                }

            }

        }

        .footer-in {
            height: 100%;
            width: 100%;
            background-color: #1a1a1a;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 2%;

            .video-on-button,
            .mic-on-button,
            .mic-off-button,
            .video-off-button,
            .video-off-button {
                background: transparent;
                border: none;
                margin-right: 2%;

                .video-on,
                .mic-on,
                .video-off,
                .mic-off {
                    color: rgb(26, 240, 161);
                    font-size: 4vh;
                }
            }

            .mic-on-button {
                margin-left: 2% !important;
            }

            .end-call-button {
                background: transparent;
                border: none;

                .end-call {
                    color: red;
                    font-size: 4vh;
                    transform: scale(1.2);
                }

            }

        }
    }
}
.videoBtn2{
    width: 75%;
    align-self: center;
    background-color: rgb(26, 240, 161);
    display: inline-block;
    margin-top: 0.8%;
    margin-left:13%;
    padding: 2.2%;
    text-align: center;
    font-size: 4.5vw;
    color: black;
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:disabled {
      opacity: 0.5;
      background-color: rgb(26, 240, 161);

      &:hover {
        cursor: not-allowed;
      }
    }

    &:enabled:hover {
      -webkit-box-shadow: 0 0 15px rgb(26, 240, 161);
      box-shadow: 0 0 15px rgb(26, 240, 161);
    }
  }

  .abort-receiving-file {
    width: fit-content;
    background-color: #0A82FD;
    margin-top: 0.8%;
    padding: 0.5% 0.8% 0.5% 0.8%;
    text-align: center;
    font-size: 1.1vw;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:disabled {
      opacity: 0.5;
      background-color: #0A82FD;

      &:hover {
        cursor: not-allowed;
      }
    }

    &:enabled:hover {
      -webkit-box-shadow: 0 0 15px #0A82FD;
      box-shadow: 0 0 15px #0A82FD;
    }

  }
  @media only screen and (max-width: 800px) {
    .video{
        width:100%;
        height:78vh;
    }
    .footer{
        width:98% !important;
    }
  }