.video {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 0% 2% 0% 2%;
    transition: all 3s ease-in-out;
    height: 80vh;

    #localVideo,
    #remoteVideo {
        width: 100%;
        height: 45%;
        border: 1px solid white;
        border-radius: 5%;
        margin-bottom: 2%;
    }

    .footer {
        height: 10%;
        width: 80%;
        border: 1px solid white;
        border-radius: 10px;
        overflow: hidden;
        margin: auto;

        .footer-in {
            height: 100%;
            width: 100%;
            background-color: #1a1a1a;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .video-on-button,
            .mic-on-button,
            .mic-off-button,
            .video-off-button,
            .video-off-button {
                background: transparent;
                border: none;
                margin-right: 2%;

                .video-on,
                .mic-on,
                .video-off,
                .mic-off {
                    color: rgb(26, 240, 161);
                    transform: scale(1.5);
                }
            }

            .mic-on-button {
                margin-left: 2% !important;
            }

            .end-call-button {
                background: transparent;
                border: none;

                .end-call {
                    color: red;
                    transform: scale(1.5);
                }

            }

        }
    }
}