.shrinkable-div {
  background: transparent;
  float: left;
  // padding-top: 2%;
  position: relative;
  width: 70%;
  height: 80vh;
  transition: all 2s ease;

}

.shrink {
  float: left;
  position: relative;
  background: transparent;
  width: 40%;
  height: 80vh;
}

.input-div {
  // background-color: #121212;
  background: transparent;
  color: white;
  display: flex;
  height: 45vh;
  flex-direction: column;
  justify-content: center;
  margin-right: 2%;
  width: 100%;

  .input-label {
    background: #1a1a1a;
    width: 50%;
    padding: 2%;
    margin-right: 0.5%;
    height: 50%;
    border-radius: 10px;
    align-self: center;
    cursor: pointer;
    margin-bottom: 0.5%;
    margin-top: 1%;
    border: 3px dashed white;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #7fabd6;
    }
  }

  .fileInput {
    align-self: center;
    display: none;
    border: 3px dashed white;
    border-radius: 10px;
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    .sendFileBtn {
      width: 50%;
      align-self: center;
      background-color: rgb(26, 240, 161);
      display: inline-block;
      margin-top: 0.8%;
      padding: 0.2%;
      text-align: center;
      font-size: 1.5vw;
      color: black;
      font-family: sans-serif;
      text-decoration: none;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:disabled {
        opacity: 0.5;
        background-color: rgb(26, 240, 161);

        &:hover {
          cursor: not-allowed;
        }
      }

      &:enabled:hover {
        -webkit-box-shadow: 0 0 15px rgb(26, 240, 161);
        box-shadow: 0 0 15px rgb(26, 240, 161);
      }
    }

    .abort-receiving-file {
      width: fit-content;
      background-color: #0A82FD;
      margin-top: 0.8%;
      padding: 0.5% 0.8% 0.5% 0.8%;
      text-align: center;
      font-size: 1.1vw;
      color: white;
      font-family: sans-serif;
      text-decoration: none;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:disabled {
        opacity: 0.5;
        background-color: #0A82FD;

        &:hover {
          cursor: not-allowed;
        }
      }

      &:enabled:hover {
        -webkit-box-shadow: 0 0 15px #0A82FD;
        box-shadow: 0 0 15px #0A82FD;
      }

    }

    .abort-sending-file {
      width: fit-content;
      background-color: red;
      margin-top: 0.8%;
      padding: 0.5% 0.8% 0.5% 0.8%;
      text-align: center;
      font-size: 1.1vw;
      color: white;
      font-family: sans-serif;
      text-decoration: none;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:disabled {
        opacity: 0.5;
        background-color: red;

        &:hover {
          cursor: not-allowed;
        }
      }

      &:enabled:hover {
        -webkit-box-shadow: 0 0 15px red;
        box-shadow: 0 0 15px red;
      }
    }

    .leaveBtn {
      width: fit-content;
      background-color: red;
      margin-top: 0.8%;
      padding: 0.5% 0.8% 0.5% 0.8%;
      text-align: center;
      font-size: 1.1vw;
      color: white;
      font-family: sans-serif;
      text-decoration: none;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        -webkit-box-shadow: 0 0 15px red;
        box-shadow: 0 0 15px red;
      }

    }

    .retry-btn {
      width: fit-content;
      background-color: #0A82FD;
      margin-top: 0.8%;
      padding: 0.5% 0.8% 0.5% 0.8%;
      text-align: center;
      font-size: 1.1vw;
      color: white;
      font-family: sans-serif;
      text-decoration: none;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        -webkit-box-shadow: 0 0 15px #0A82FD;
        box-shadow: 0 0 15px #0A82FD;
      }
    }
  }

  .progress-bar {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    // align-items: center;

    .send-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      .sender-label {
        font-size: 1.1vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .sender-percentage {
        width: 10%;
        // margin-left: 2%;
      }
    }

    .receive-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      .receiver-label {
        font-size: 1.1vw;
      }

      .receiver-percentage {
        width: 10%;
        // margin-left: 2%;
      }

    }

  }
}

.input-div.blur {
  filter: blur(4px);
  /* You can adjust the blur intensity as needed */
  transition: filter 0.3s ease;
}

.input {
  width: 100%;
  height: 100%;
}

.flexTransferBottom {
  display: flex;
  margin-top: 2%;
  height: 32vh;
  width: 100%;
  padding: 1.5%;

  .fileHistory {
    height: 100%;
    width: 62vw;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;

    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgb(26, 240, 161);
      border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(26, 240, 161);
    }

    margin-right: 1%;

    .fileHistoryDiv {
      margin-right: 2%;

      .fileHistorySingleComponent {
        padding: 1.5%;
        border-radius: 10px;
        color: white;
        margin-bottom: 1.2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .file-info {
          display: flex;
          flex-direction: column;

          .file-name {
            width: auto;
          }

          .file-size {
            width: auto;
          }
        }

        .delete-file {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 2%;

          .accept-file-icon {
            background-color: #3EA64F;
            color: white;
            border: none;
            border-radius: 100%;
            padding: 6%;
            margin-right: 30%;
          }

          .reject-file-icon {
            background-color: red;
            color: white;
            border: none;
            border-radius: 100%;
            padding: 6%;

          }

          .delete-file-btn {
            width: auto;
            border: none;
            background: transparent;
            color: white;
            padding: 6%;

            &:hover {
              color: red;
            }
          }

        }

      }
    }
  }
}


@media only screen and (max-width: 800px) {
  .shrinkable-div {
    width: 100% !important;
    height: 78vh;
  }

  .input-div {
    height: 60%;
  }

  .input-label {
    width: 70% !important;
  }

  .progress-label {
    font-size: small !important;
  }

  .progress-bar {
    margin-top: 10% !important;
  }

  .inside {
    font-size: 100% !important;
  }

  .buttons {
    margin-top: 5% !important;
  }

  .abort-receiving-file,
  .abort-sending-file,
  .sendFileBtn {
    height: 100% !important;
    // font-size: 50% !important;
    font-size: 10px !important;
  }

  #file-selected {
    font-size: large !important;
  }

  .sendFileBtn {
    width: 50% !important;
    font-size: 15px !important;
  }

  .progress {
    width: 50% !important;
  }


  .flexTransferBottom {
    width: 100% !important;
    height: 30vh !important;

    .fileHistory {
      width: 100% !important;
    }
  }
}