.shrinkable-div {
  background: transparent;
  float: left;
  position: relative;
  width: 70%;
  height: 80vh;
  transition: all 2s ease;
}

.shrink {
  float: left;
  position: relative;
  background: transparent;
  width: 40%;
  height: 80vh;
}

.input-div {
  background: transparent;
  color: white;
  display: flex;
  height: 35.2vh;
  flex-direction: column;
  justify-content: center;
  margin-right: 2%;
}
.input-div .input-label {
  background: #1a1a1a;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  align-self: center;
  cursor: pointer;
  margin-bottom: 0.5%;
  margin-top: 1%;
  border: 3px dashed white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-div .input-label:hover {
  background-color: #7fabd6;
}
.input-div .fileInput {
  align-self: center;
  display: none;
  border: 3px dashed white;
  border-radius: 10px;
}
.input-div .buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.input-div .buttons .sendFileBtn {
  width: 50%;
  align-self: center;
  background-color: rgb(26, 240, 161);
  display: inline-block;
  margin-top: 0.8%;
  padding: 0.2%;
  text-align: center;
  font-size: 1.5vw;
  color: black;
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.input-div .buttons .sendFileBtn:hover {
  box-shadow: 0 0 15px rgb(26, 240, 161);
}
.input-div .buttons .leaveBtn {
  width: 10%;
  background-color: red;
  margin-top: 0.8%;
  padding: 0.2%;
  text-align: center;
  font-size: 1.2vw;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.input-div .buttons .leaveBtn:hover {
  box-shadow: 0 0 15px red;
}
.input-div .buttons .retry-btn {
  width: 10%;
  background-color: #0A82FD;
  margin-top: 0.8%;
  padding: 0.2%;
  text-align: center;
  font-size: 1.2vw;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.input-div .buttons .retry-btn:hover {
  box-shadow: 0 0 15px #0A82FD;
}

.input-div.blur {
  filter: blur(4px);
  /* You can adjust the blur intensity as needed */
  transition: filter 0.3s ease;
}

.input {
  width: 100%;
  height: 100%;
}

.flexTransferBottom {
  display: flex;
  margin-top: 2%;
  height: 53%;
}
.flexTransferBottom .fileHistory {
  height: 100%;
  width: 95%;
  border-radius: 10px;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  /* Track */
  /* Handle */
  /* Handle on hover */
  margin-right: 1%;
}
.flexTransferBottom .fileHistory::-webkit-scrollbar {
  width: 5px;
}
.flexTransferBottom .fileHistory::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
.flexTransferBottom .fileHistory::-webkit-scrollbar-thumb {
  background: rgb(26, 240, 161);
  border-radius: 5px;
}
.flexTransferBottom .fileHistory::-webkit-scrollbar-thumb:hover {
  background: rgb(26, 240, 161);
}
.flexTransferBottom .fileHistory .fileHistoryDiv {
  margin-right: 2%;
}
.flexTransferBottom .fileHistory .fileHistoryDiv .fileHistorySingleComponent {
  padding: 2%;
  border-radius: 10px;
  color: white;
  margin-bottom: 1.2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.flexTransferBottom .fileHistory .fileHistoryDiv .fileHistorySingleComponent .file-info {
  display: flex;
  flex-direction: column;
}
.flexTransferBottom .fileHistory .fileHistoryDiv .fileHistorySingleComponent .file-info .file-name {
  width: auto;
}
.flexTransferBottom .fileHistory .fileHistoryDiv .fileHistorySingleComponent .file-info .file-size {
  width: auto;
}
.flexTransferBottom .fileHistory .fileHistoryDiv .fileHistorySingleComponent .delete-file-btn {
  width: auto;
  border: none;
  background: transparent;
  color: white;
}/*# sourceMappingURL=Transfer.css.map */