.App {
  text-align: center;

}


#root {
  font-family: sans-serif;
  background-image: url('../src/assets/background_grainy.jpg');
  background-size: cover;
  background-repeat: repeat;
  overflow: hidden;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.warning{
  /* margin-left: 5%; */
  text-align: center;
  .warning-text{
    color: white;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (-webkit-device-pixel-ratio: 1.50) {
  .zoomer {
    zoom: 0.8;
  }
}

@media (-webkit-device-pixel-ratio: 1.25) {
  .zoomer {
    zoom: 0.9;
  }
  .scroll{
    margin-top: 0% !important;
  }
}

@media screen and (max-width: 1366px) {
  .zoomer {
    zoom: 0.8;

  }
}

@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 925px;
  }
}


@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1250px;
  }
}